#labirinto_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 1px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    background-color: rgb(7, 4, 26)    ;

    box-shadow: 0 3px 9px black, inset 0 0 10px rgb(61, 3, 109);
}
#labirinto_1 div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: rgb(7, 4, 26);
}

div.input{
    background-color:rgb(7, 4, 26)     ;
    padding-top: 10%;
}
div.input input{
    background-color:rgb(30, 7, 32);
    font-size: 15px;
    color: rgb(160, 4, 250);
    padding: 5%;
    border-radius: 15%;
}
div.select_1 input{

    margin: 0%;
    padding: 0%;

    width: 50px;
    height: 50px;
}

.titulo_info{
    background-color: rgb(7, 4, 26)    ;
    display: flex;
    flex-direction: column;

    padding-bottom: 5%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}
.titulo_info h1,h2,h3,h4,h5{
    background-color: rgb(7, 4, 26)    ;

}
.titulo_info img{

    width: 50px;
    box-shadow: 0 3px 9px rgb(9, 155, 180), inset 0 0 10px rgb(61, 3, 109);
    border-radius: 50%;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.select_lab{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

#labirinto_1 div label{
    cursor: pointer;

    border-radius: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(7, 4, 26);
}

#labirinto_1 div input[type="radio"]:checked{
    cursor: pointer;
    color: aqua;
}
#labirinto_1 div input[type="radio"]:hover{
    cursor: pointer;
    background-color: blue;
}
#labirinto_1 div input[type="submit"]:hover{
    cursor: pointer;
    background-color:rgb(160, 4, 250);
    font-size: 15px;
    color: rgb(30, 7, 32);
}

#two_info_lab4{

    display: flex;
    flex-direction: row;
    margin-left: 30%;

}
#Pilha{

    padding: 0%;
    margin: 0%;
    margin-left: 5%;
    margin-right: 5%;
    width: 200px; 
    text-align: center;
    height: 50px;
}
#Pilha table{
    background-color: rgb(104, 41, 129);
    font-size: 22px;
    color: black;
    margin-left: 5%;
    width: 200px;    
    text-align: center;
    height: 50px;
    border: solid 2px rgb(255, 136, 0);
    border-radius: 5px;
}
#Pilha td{

    background-color: rgb(104, 41, 129);
    border: 2px solid rgb(117, 65, 5) ;
}

#tabela:hover{
    cursor:pointer;
}
#tabela th{
    background-color: rgb(73, 29, 90);
    box-shadow: 10px 5px 50px black;

}
.info a{
    color: black;
}
.info  :hover:not(a){
    background-color: bisque;
    color: rgb(6, 110, 201);
    outline: dotted rgb(255, 2, 234);
    
}
