{%extends 'corpo.html'%}
{% load static %}


{%block info %}

<div id="labirinto_1">
    <div class="titulo_info">
            <h2>FORME SEU LABIRINTO</h2>
            
    </div>
    <div class="titulo_info">   
        <h4>SELECIONE A POSIÇÃO DO RATO</h4>

        
    </div>
    <div class="titulo_info">   
        <img class='img'src="{% static 'img/monster/Rat.gif' %}">
        
    </div>
    <div class="select_lab">
        <form action="{% url 'labirinto2' %}" method="post" autocomplete="off">{%csrf_token%}
            <div class="select_1">
                {%if Matriz.0.0 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.0.0 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.0.0 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.0}}
                {%endif%}

                {%if Matriz.0.1 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.0.1 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.0.1 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.1}}
                {%endif%}

                {%if Matriz.0.2 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.0.2 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.0.2 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.2}}
                {%endif%}

                {%if Matriz.0.3 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.0.3 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.0.3 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.3}}
                {%endif%}

                {%if Matriz.0.4 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.0.4 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.0.4 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.4}}
                {%endif%}

                {%if Matriz.0.5 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.0.5 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.0.5 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.5}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.1.0 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.1.0 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.1.0 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.6}}
                {%endif%}

                {%if Matriz.1.1 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.1.1 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.1.1 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.7}}
                {%endif%}

                {%if Matriz.1.2 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.1.2 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.1.2 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.8}}
                {%endif%}

                {%if Matriz.1.3 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.1.3 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.1.3 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.9}}
                {%endif%}

                {%if Matriz.1.4 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.1.4 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.1.4 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.10}}
                {%endif%}

                {%if Matriz.1.5 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.1.5 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.1.5 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.11}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.2.0 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.2.0 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.2.0 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.12}}
                {%endif%}

                {%if Matriz.2.1 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.2.1 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.2.1 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.13}}
                {%endif%}

                {%if Matriz.2.2 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.2.2 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.2.2 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.14}}
                {%endif%}

                {%if Matriz.2.3 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.2.3 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.2.3 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.15}}
                {%endif%}

                {%if Matriz.2.4 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.2.4 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.2.4 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.16}}
                {%endif%}

                {%if Matriz.2.5 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.2.5 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.2.5 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.17}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.3.0 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.3.0 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.3.0 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.18}}
                {%endif%}

                {%if Matriz.3.1 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.3.1 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.3.1 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.19}}
                {%endif%}

                {%if Matriz.3.2 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.3.2 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.3.2 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.20}}
                {%endif%}

                {%if Matriz.3.3 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.3.3 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.3.3 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.21}}
                {%endif%}

                {%if Matriz.3.4 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.3.4 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.3.4 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.22}}
                {%endif%}

                {%if Matriz.3.5 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.3.5 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.3.5 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.23}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.4.0 == True%}
                <img class='box2'src="{% static 'img/parede/1.bmp' %}">
            {% elif Matriz.4.0 == 'Rato'%}
                <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
            {% elif Matriz.4.0 == 'Queijo'%}
                <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
            {%else%}
            {{Matriz2.object_lab.24}}
            {%endif%}

            {%if Matriz.4.1 == True%}
                <img class='box2'src="{% static 'img/parede/1.bmp' %}">
            {% elif Matriz.4.1 == 'Rato'%}
                <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
            {% elif Matriz.4.1 == 'Queijo'%}
                <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
            {%else%}
            {{Matriz2.object_lab.25}}
            {%endif%}

            {%if Matriz.4.2 == True%}
                <img class='box2'src="{% static 'img/parede/1.bmp' %}">
            {% elif Matriz.4.2 == 'Rato'%}
                <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
            {% elif Matriz.4.2 == 'Queijo'%}
                <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
            {%else%}
            {{Matriz2.object_lab.26}}
            {%endif%}

            {%if Matriz.4.3 == True%}
                <img class='box2'src="{% static 'img/parede/1.bmp' %}">
            {% elif Matriz.4.3 == 'Rato'%}
                <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
            {% elif Matriz.4.3 == 'Queijo'%}
                <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
            {%else%}
            {{Matriz2.object_lab.27}}
            {%endif%}

            {%if Matriz.4.4 == True%}
                <img class='box2'src="{% static 'img/parede/1.bmp' %}">
            {% elif Matriz.4.4 == 'Rato'%}
                <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
            {% elif Matriz.4.4 == 'Queijo'%}
                <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
            {%else%}
            {{Matriz2.object_lab.28}}
            {%endif%}

            {%if Matriz.4.5 == True%}
                <img class='box2'src="{% static 'img/parede/1.bmp' %}">
            {% elif Matriz.4.5 == 'Rato'%}
                <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
            {% elif Matriz.4.5 == 'Queijo'%}
                <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
            {%else%}
            {{Matriz2.object_lab.29}}
            {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.5.0 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.5.0 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.5.0 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.30}}
                {%endif%}

                {%if Matriz.5.1 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.5.1 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.5.1 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.31}}
                {%endif%}

                {%if Matriz.5.2 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.5.2 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.5.2 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.32}}
                {%endif%}

                {%if Matriz.5.3 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.5.3 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.5.3 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.33}}
                {%endif%}

                {%if Matriz.5.4 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.5.4 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.5.4 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.34}}
                {%endif%}

                {%if Matriz.5.5 == True%}
                    <img class='box2'src="{% static 'img/parede/1.bmp' %}">
                {% elif Matriz.5.5 == 'Rato'%}
                    <img class='box1'src="{% static 'img/monster/Rat.gif' %}">  
                {% elif Matriz.5.5 == 'Queijo'%}
                    <img class='box1'src="{% static 'img/item/Rat_Cheese.gif' %}">               
                {%else%}
                {{Matriz2.object_lab.35}}
                {%endif%}
            </div>
            <div class="choise_submit">
                <div class="input">
                    <input type="submit"  value="Acept"></label><br></li>
                </div>   

            </form>
            
                <div class="input">
                    <form action="{% url 'labirinto2' %}" method="post" autocomplete="off">{%csrf_token%}
                    <input type="submit"  name="back" value="Back"></label><br></li>
                    </form>
                </div>    
        
            </div>

            
        </form>
    </div>
</div>




{%endblock%}