{%extends 'corpo.html'%}
{% load static %}

{%block info %}
<article style=" margin-left: 4%; margin-right: 0%;">
    <div class="titulo_info">
        <h2>SEU LABIRINTO ESTÁ PRONTO</h2>
    </div>

    <div class="titulo_info">
        <h4>JOGAR</h4>

    </div>

    <div style="margin-right: 15%;" id="labirinto_1">
        <div class="select_lab">
            <div id="two_info_lab4">
                <form action="{% url 'labirinto4' %}" method="post" autocomplete="off">{%csrf_token%}

                    {% for linha in Matriz%}
                    <div class="select_1">

                        {% for coluna in linha%}
                        {%if coluna == True%}
                        <img class='box2' src="{% static 'img/parede/1.bmp' %}">
                        {% elif coluna == 'Rato'%}
                        <div class="imagem_sobreposta">
                            {% if direction == 'top'%}
                            <img style='position: absolute;' class='box1' src="{% static 'img/monster/RatTop.gif' %}">
                            {% elif direction == 'bottom'%}
                            <img style='position: absolute;' class='box1'
                                src="{% static 'img/monster/RatBottom.gif' %}">
                            {% elif direction == 'left'%}
                            <img style='position: absolute;' class='box1' src="{% static 'img/monster/RatLeft.gif' %}">
                            {% elif direction == 'right'%}
                            <img style='position: absolute;' class='box1' src="{% static 'img/monster/RatRight.gif' %}">
                            {%else%}
                            <img style='position: absolute;' class='box1' src="{% static 'img/monster/RatSleep.gif' %}">
                            {%endif%}
                            <img class='box2' src="{% static 'img/corredor/1.bmp' %}">
                        </div>
                        {% elif coluna == 'Queijo'%}
                        <div class="imagem_sobreposta">
                            <img style='position:absolute;' class='box1' src="{% static 'img/item/Rat_Cheese.gif' %}">
                            <img class='box2' src="{% static 'img/corredor/1.bmp' %}">
                        </div>

                        {%else%}
                        <img class='box2' src="{% static 'img/corredor/1.bmp' %}">
                        {%endif%}

                        {% endfor %}

                    
                    </div>
                    {% endfor %}

                    <div class="choise_submit">
                        <div class="input">

                            {% if Interaction == False %}
                            <div id="input_end">
                                <input type="submit" name="Start" value="Start"></label><br></li>
                            </div>
                            <div id="input_end">
                                <input type="submit" name="Start" value="Back"></label><br></li>
                            </div>

                            {% else %}
                            <input type="submit" name="Start" value="Next"></label><br></li>
                            {% endif %}
                        </div>

                </form>


            </div>
        </div>
    </div>



</article>

<div id="labirinto_2">
    {% if SizeofPiles == 1 %}
    <div id="Pilha">
        <table>
            <tr id="tabela">
                <th>
                    <p>Pilha</p>
                </th>
                <th>
                    <p>Posição</p>
                </th>
            </tr>
            {% for Dir, Posi in Pile %}
            {% if Dir.first %}
            <tr id="tabela" class="info">
                <td style="color:rgb(18, 38, 216);"><a style="color:rgb(18, 38, 216);">{{Dir}}</a></td>
                <td style="color:rgb(18, 38, 216);"><a style="color:rgb(18, 38, 216);"> {{Posi}}</a></td>
            </tr>
            {% elif Dir.last %}
            <tr id="tabela" class="info">
                <td style="color:rgb(18, 38, 216);"><a style="color:rgb(18, 38, 216);">{{Dir}}</a></td>
                <td style="color:rgb(18, 38, 216);"><a style="color:rgb(18, 38, 216);"> {{Posi}}</a></td>
            </tr>
            {% else %}
            <tr id="tabela" class="info">
                <td><a>{{Dir}}</a></td>
                <td><a>{{Posi}}</a></td>
            </tr>
            {%endif%}
            {%endfor%}
        </table>
    </div>
    {%else%}
    <div id="Pilha">
        <table>
            <tr id="tabela" class="topo">
                <th>
                    <p>Pilha</p>
                </th>
                <th>
                    <p>Posição</p>
                </th>
            </tr>

            {% for Dir, Posi in Pile %}
            {% if forloop.first %}
            <tr id="tabela" class="info">
                <td style="background-color:rgb(7, 16, 95); border: solid 2px rgb(7, 16, 95);"><a
                        style="color:rgb(255, 255, 255);">{{Dir}}</a></td>
                <td style="background-color:rgb(7, 16, 95); border: solid 2px rgb(7, 16, 95);"><a
                        style="color:rgb(255, 255, 255);"> {{Posi}}</a></td>
            </tr>
            {% elif forloop.last %}
            <tr id="tabela" class="info">
                <td style="background-color:rgb(57, 76, 248);  border: solid 2px rgb(57, 76, 248);"><a
                        style="color:rgb(0, 0, 0);">{{Dir}}</a></td>
                <td style="background-color:rgb(57, 76, 248); border: solid 2px rgb(57, 76, 248);"><a
                        style="color:rgb(0, 0, 0);"> {{Posi}}</a></td>
            </tr>
            {% else %}
            <tr id="tabela" class="info">
                <td><a>{{Dir}}</a></td>
                <td><a>{{Posi}}</a></td>
            </tr>
            {%endif%}
            {%endfor%}
        </table>

    </div>
    {%endif%}
</div>

{%endblock%}