{%extends 'corpo.html'%}
{% load static %}


{%block info %}

<div id="labirinto_1">
    <div class="titulo_info">
            <h2>FORME SEU LABIRINTO</h2>
            
    </div>
    <div class="titulo_info">   
        <h4>SELECIONE A POSIÇÃO DO RATO</h4>
        
    </div>
    <div class="select_lab">
        <form action="{% url 'labirinto2' %}" method="post" autocomplete="off">{%csrf_token%}
            <div class="select_1">
                
                {%if Matriz.0.0 == True%}
                    <input type="checkbox" id="l0c0" name="l0c0"  value='l0c0' disabled>
                {%else%}
                {{Matriz2.object.0}}
                {%endif%}
                {%if Matriz.0.1 == True%}
                    <input type="checkbox" id="l0c1" name="l0c1" value='l0c1' disabled>
                {%else%}
                {{Matriz2.object.1}}
                {%endif%}
                {%if Matriz.0.2 == True%}
                    <input type="checkbox" id="l0c2" name="l0c2" value='l0c2' disabled>
                {%else%}
                {{Matriz2.object.2}}
                {%endif%}
                {%if Matriz.0.3 == True%}
                    <input type="checkbox" id="l0c3" name="l0c3"  value='l0c3'disabled>
                {%else%}
                {{Matriz2.object.3}}
                {%endif%}
                {%if Matriz.0.4 == True%}
                    <input type="checkbox" id="l0c4" name="l0c4" value='l0c4'disabled>
                {%else%}
                {{Matriz2.object.4}}
                {%endif%}
                {%if Matriz.0.5 == True%}
                    <input type="checkbox" id="l0c5" name="l0c5" value='l0c5' disabled>
                {%else%}
                {{Matriz2.object.5}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.1.0 == True%}
                    <input type="checkbox" id="l1c0" name="l1c0"  value='l1c0' disabled>
                {%else%}
                    {{Matriz2.object.6}}
                {%endif%}
                {%if Matriz.1.1 == True%}
                    <input type="checkbox" id="l1c1" name="l1c1" value='l1c1' disabled>
                {%else%}
                    {{Matriz2.object.7}}
                {%endif%}
                {%if Matriz.1.2 == True%}
                    <input type="checkbox" id="1c2" name="l1c2" value='l1c2' disabled>
                {%else%}
                    {{Matriz2.object.8}}
                {%endif%}
                {%if Matriz.1.3 == True%}
                    <input type="checkbox" id="l1c3" name="l1c3"  value='l1c3'disabled>
                {%else%}
                    {{Matriz2.object.9}}
                {%endif%}
                {%if Matriz.1.4 == True%}
                    <input type="checkbox" id="l1c4" name="l1c4" value='l1c4'disabled>
                {%else%}
                    {{Matriz2.object.10}}
                {%endif%}
                {%if Matriz.1.5 == True%}
                    <input type="checkbox" id="l1c5" name="l1c5" value='l1c5' disabled>
                {%else%}
                    {{Matriz2.object.11}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.2.0 == True%}
                    <input type="checkbox" id="l2c0" name="l2c0"  value='l2c0' disabled>
                {%else%}
                    {{Matriz2.object.12}}
                {%endif%}
                {%if Matriz.2.1 == True%}
                    <input type="checkbox" id="l2c1" name="l2c1" value='l2c1' disabled>
                {%else%}
                    {{Matriz2.object.13}}
                {%endif%}
                {%if Matriz.2.2 == True%}
                    <input type="checkbox" id="l2c2" name="l2c2" value='l2c2' disabled>
                {%else%}
                    {{Matriz2.object.14}}
                {%endif%}
                {%if Matriz.2.3 == True%}
                    <input type="checkbox" id="l2c3" name="l2c3"  value='l2c3'disabled>
                {%else%}
                    {{Matriz2.object.15}}
                {%endif%}
                {%if Matriz.2.4 == True%}
                    <input type="checkbox" id="l2c4" name="l2c4" value='l2c4'disabled>
                {%else%}
                    {{Matriz2.object.16}}
                {%endif%}
                {%if Matriz.2.5 == True%}
                    <input type="checkbox" id="l2c5" name="l2c5" value='l2c5' disabled>
                {%else%}
                    {{Matriz2.object.17}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.3.0 == True%}
                    <input type="checkbox" id="l3c0" name="l3c0"  value='l3c0' disabled>
                {%else%}
                    {{Matriz2.object.18}}
                {%endif%}
                {%if Matriz.3.1 == True%}
                    <input type="checkbox" id="l3c1" name="l3c1" value='l3c1' disabled>
                {%else%}
                    {{Matriz2.object.19}}
                {%endif%}
                {%if Matriz.3.2 == True%}
                    <input type="checkbox" id="l3c2" name="l3c2" value='l3c2' disabled>
                {%else%}
                    {{Matriz2.object.20}}
                {%endif%}
                {%if Matriz.3.3 == True%}
                    <input type="checkbox" id="l3c3" name="l3c3"  value='l3c3'disabled>
                {%else%}
                    {{Matriz2.object.21}}
                {%endif%}
                {%if Matriz.3.4 == True%}
                    <input type="checkbox" id="l3c4" name="l3c4" value='l3c4'disabled>
                {%else%}
                    {{Matriz2.object.22}}
                {%endif%}
                {%if Matriz.3.5 == True%}
                    <input type="checkbox" id="l3c5" name="l3c5" value='l3c5' disabled>
                {%else%}
                    {{Matriz2.object.23}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.4.0 == True%}
                    <input type="checkbox" id="l4c0" name="l4c0"  value='l4c0' disabled>
                {%else%}
                    {{Matriz2.object.24}}
                {%endif%}
                {%if Matriz.4.1 == True%}
                    <input type="checkbox" id="l4c1" name="l4c1" value='l4c1' disabled>
                {%else%}
                    {{Matriz2.object.25}}
                {%endif%}
                {%if Matriz.4.2 == True%}
                    <input type="checkbox" id="l4c2" name="l4c2" value='l4c2' disabled>
                {%else%}
                    {{Matriz2.object.26}}
                {%endif%}
                {%if Matriz.4.3 == True%}
                    <input type="checkbox" id="l4c3" name="l4c3"  value='l4c3'disabled>
                {%else%}
                    {{Matriz2.object.27}}
                {%endif%}
                {%if Matriz.4.4 == True%}
                    <input type="checkbox" id="l4c4" name="l4c4" value='l4c4'disabled>
                {%else%}
                    {{Matriz2.object.28}}
                {%endif%}
                {%if Matriz.4.5 == True%}
                    <input type="checkbox" id="l4c5" name="l4c5" value='l4c5' disabled>
                {%else%}
                    {{Matriz2.object.29}}
                {%endif%}
            </div>
            <div class="select_1">
                {%if Matriz.5.0 == True%}
                    <input type="checkbox" id="l5c0" name="l5c0"  value='l5c0' disabled>
                {%else%}
                    {{Matriz2.object.30}}
                {%endif%}
                {%if Matriz.5.1 == True%}
                    <input type="checkbox" id="l5c1" name="l5c1" value='l5c1' disabled>
                {%else%}
                    {{Matriz2.object.31}}
                {%endif%}
                {%if Matriz.5.2 == True%}
                    <input type="checkbox" id="l5c2" name="l5c2" value='l5c2' disabled>
                {%else%}
                    {{Matriz2.object.32}}
                {%endif%}
                {%if Matriz.5.3 == True%}
                    <input type="checkbox" id="l5c3" name="l5c3"  value='l5c3'disabled>
                {%else%}
                    {{Matriz2.object.33}}
                {%endif%}
                {%if Matriz.5.4 == True%}
                    <input type="checkbox" id="l5c4" name="l5c4" value='l5c4'disabled>
                {%else%}
                    {{Matriz2.object.34}}
                {%endif%}
                {%if Matriz.5.5 == True%}
                    <input type="checkbox" id="l5c5" name="l5c5" value='l5c5' disabled>
                {%else%}
                    {{Matriz2.object.35}}
                {%endif%}

            </div>
            <div class="input">
                <input type="submit"  value="Acept"></label><br></li>
            </div>
            
        </form>
    </div>
</div>




{%endblock%}